<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" />
</head>

<body class="container">
    <header>
        <%- include('./partials/header'); %>
    </header>

    <main>
        <div class="jumbotron color1bg">
            <h1>
                <%= title %>
                    <% if(title != 'SmartLockers'){ %> - une filiale Smartlockers
                        <% } %>
            </h1>
            <div id="cgv">
                <%= site.cgdv %>
            </div>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-lg 6">
                    <p>
                        <%= site.baseline %>
                    </p>
                </div>
                <div class="col-lg 6">
                    <p>
                        <%= site.name %>
                    </p>
                </div>

            </div>
        </div>
    </main>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>
</body>

</html>